<!-- Banner -->
<section id="banner">
    <div class="inner">
            <h2>
            Hey guys<br>
            I am software programmer<br>
            I have knowledge of Java, Python, SQL, MongoDB, Angular/JavaScript, UNIX/LINUX <br>
            <span class="badge rounded-pill bg-light "><span class="material-icons">laptop</span>Coding</span>            
            <span class="badge rounded-pill bg-dark"><span class="material-icons">camera</span>Photography</span>           
            <span class="badge rounded-pill bg-light "><span class="material-icons">two_wheeler</span>Traveling</span>
            <span class="badge rounded-pill bg-dark"><span class="material-icons">directions_walk</span>Trecking</span>
            <span class="badge rounded-pill bg-light "><span class="material-icons">paragliding</span>Adventure</span>
        </h2>
    </div>
</section>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <pre>
                    Ben Hindman is co-founder and CEO of Splash, the country's fastest-growing 
                    event marketing platform that helps businesses and brands more effectively
                    market through their events. An event planner turned tech entrepreneur,
                    events are in Ben’s DNA. Prior to starting Splash, Ben was the Director
                    of Events at Thrillist, where he produced large-scale events from 
                    concerts to mystery fly-aways.


                Amely Harward
                CEO, Founder
                https://www.codeforlife.com
                </pre>
            </div>
            <div class="col-4">
                <img src="../../assets/profile/men01.jpg">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/profile/men02.jpg">
            </div>
            <div class="col-8">
                <pre>
                    Ben Hindman is co-founder and CEO of Splash, the country's fastest-growing 
                    event marketing platform that helps businesses and brands more effectively
                    market through their events. An event planner turned tech entrepreneur,
                    events are in Ben’s DNA. Prior to starting Splash, Ben was the Director
                    of Events at Thrillist, where he produced large-scale events from 
                    concerts to mystery fly-aways.
    
    
                    Amely Harward
                    CEO, Founder
                    https://www.codeforlife.com
                    </pre>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <pre>
                    Ben Hindman is co-founder and CEO of Splash, the country's fastest-growing 
                    event marketing platform that helps businesses and brands more effectively
                    market through their events. An event planner turned tech entrepreneur,
                    events are in Ben’s DNA. Prior to starting Splash, Ben was the Director
                    of Events at Thrillist, where he produced large-scale events from 
                    concerts to mystery fly-aways.
    
    
                    Amely Harward
                    CEO, Founder
                    https://www.codeforlife.com
                    </pre>
            </div>
            <div class="col-4">
                <img src="../../assets/profile/men03.jpg">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/profile/men04.jpg">
            </div>
            <div class="col-8">
                <pre>
                    Ben Hindman is co-founder and CEO of Splash, the country's fastest-growing 
                    event marketing platform that helps businesses and brands more effectively
                    market through their events. An event planner turned tech entrepreneur,
                    events are in Ben’s DNA. Prior to starting Splash, Ben was the Director
                    of Events at Thrillist, where he produced large-scale events from 
                    concerts to mystery fly-aways.
    
    
                    Amely Harward
                    CEO, Founder
                    https://www.codeforlife.com
                    </pre>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <pre>
                    Ben Hindman is co-founder and CEO of Splash, the country's fastest-growing 
                    event marketing platform that helps businesses and brands more effectively
                    market through their events. An event planner turned tech entrepreneur,
                    events are in Ben’s DNA. Prior to starting Splash, Ben was the Director
                    of Events at Thrillist, where he produced large-scale events from 
                    concerts to mystery fly-aways.
    
    
                    Amely Harward
                    CEO, Founder
                    https://www.codeforlife.com
                    </pre>
            </div>
            <div class="col-4">
                <img src="../../assets/profile/men05.jpg">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/profile/men06.jpg">
            </div>
            <div class="col-8">
                <pre>
                    Ben Hindman is co-founder and CEO of Splash, the country's fastest-growing 
                    event marketing platform that helps businesses and brands more effectively
                    market through their events. An event planner turned tech entrepreneur,
                    events are in Ben’s DNA. Prior to starting Splash, Ben was the Director
                    of Events at Thrillist, where he produced large-scale events from 
                    concerts to mystery fly-aways.
    
    
                    Amely Harward
                    CEO, Founder
                    https://www.codeforlife.com
                    </pre>
            </div>
        </div>
    </div>
</div>